body{
background-color:#000000;
font-family: 'Roboto Mono', monospace;
color:#ffffff;
}

.navbar-light .navbar-brand,.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
.bg-light{
background-color:#b8b894!important;
}
.btn-outline-success {
    color:rgb(255, 255, 255) ;
    border-color:rgb(255, 255, 255) ;
}


.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #dee2e6;
    vertical-align: top;
    border-color: #dee2e6;
}